{% extends 'base.html.twig' %}

{% block title %}EscapeGame index{% endblock %}

{% block body %}

  <tbody>

  <div class="row">
    <div class=" bg-dark pl-4 pt-5 vh-100 position-fixed">
      <p class="text-light">Mes escapes games</p>
      <p class="text-light">Mes prochains escapes games</p>
      <p class="text-light">Mon historique</p>
      <p class="text-light">Mes favoris</p>
      <p class="text-light">Rejoindre un escape game</p>
      <p class="text-light">Rechercher</p>

    </div>
    {# <div class=""> #}
      <div class="container">

      {% for escape_game in escape_games %}

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header"><span class="badge badge-primary">{{ escape_game.categoryName }}</span></div>
          <div class="card-body">
            <h4 class="card-title">{{ escape_game.title }}</h4>
            <p class="card-text">{{ escape_game.excerpt }}</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Date and hours : {{ escape_game.dateTime ? escape_game.dateTime|date('d-m-Y H:i:s') : '' }}</li>
            <li class="list-group-item">Duration : {{ escape_game.duration ? escape_game.duration|date('H:i:s') : '' }}</li>
            <li class="list-group-item">Players min : {{ escape_game.numberMin }}</li>
            <li class="list-group-item">Players max : {{ escape_game.numberMax }}</li>
            <li class="list-group-item">Public : {{ escape_game.private ? 'Yes' : 'No' }}</li>
          </ul>
        </div>

      </div>

    </div>
  </div>







    {% endfor %}
  </tbody>



{% endblock %}
