{% extends 'base.html.twig' %}

{% block title %}EscapeGame index{% endblock %}

{% block body %}

  <tbody>
    <div class="dashboard-accueil d-flex">

      <nav class="nav-dashboard">
        <ul class="pt-5">
          <li>Mes escapes games</li>
          <li>Mes prochains escapes <br>games</li>
          <li>Mon historique</li>
          <li>Mes favoris</li>
          <li>Rejoindre un escape game</li>
          <li>Rechercher</li>
        </ul>
      </nav>

      <div class="contenu">

        <div class="row">
          <div class="creation-eg">
            <h3>Créer un escape game</h3>
            <img src="/images/The-Escape-Game.jpg" alt="image can you escape">
          </div>

          <div class="voir-eg pl-5">
            <h3>Voir mes escapes games</h3>
            <img src="/images/lamine3.jpg" alt="image la mine">
          </div>
        </div>

        <div class="row">
          <div class="participer-eg">
            <h3>Participer à un escape game</h3>
            <div class="participer-image">
              <img src="/images/panoDecoEscapeRoom.jpg" alt="image exemple room">
              <img src="/images/pendule.jpg" alt="image exemple room">
              <img src="/images/roommachine.jpg" alt="image exemple room">
            </div>
          </div>
        </div>

      </div>

    </div>





      {# <div class="d-flex flex-wrap">

      {% for escape_game in escape_games %}

        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header"><span class="badge badge-primary">{{ escape_game.categoryName }}</span></div>
          <div class="card-body">
            <h4 class="card-title">{{ escape_game.title }}</h4>
            <p class="card-text">{{ escape_game.excerpt }}</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Date and hours : {{ escape_game.dateTime ? escape_game.dateTime|date('d-m-Y H:i:s') : '' }}</li>
            <li class="list-group-item">Duration : {{ escape_game.duration ? escape_game.duration|date('H:i:s') : '' }}</li>
            <li class="list-group-item">Players min : {{ escape_game.numberMin }}</li>
            <li class="list-group-item">Players max : {{ escape_game.numberMax }}</li>
            <li class="list-group-item">Public : {{ escape_game.private ? 'Yes' : 'No' }}</li>
          </ul>
        </div>
      {% endfor %}
      </div> #}











  </tbody>



{% endblock %}
